:root {
    --color-light: #50535a;
    --color-text: #eee;
    --color-dark: #282c34;
    --color-sc: #FF5500;
    --color-sc-dark-grey: #999;
    --opacity-fade: 0.6;
}

html {
    background-color: var(--color-dark);
    font-family: sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.info {
    max-width: 600px;
    margin: 22px;
    min-width: 300px;
    min-height: 400px;
    color: var(--color-text);
    font-size: 14px;
    text-align: center;
    line-height: 130%;
}

.info a {
    color: var(--color-sc);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
.info a:hover {
    border-bottom-color: transparent;
}

.info .header {
    padding: 16px;
    border-color: var(--color-sc);
    border-width: 2px;
    border-style: dashed;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
}

.info .header .line {
    margin-bottom: 4px;
}

.info header b {
    font-weight: 400;
}

.info .footer {
    padding: 16px;
    border-top: 2px dashed var(--color-sc);
}

.info .footer a {
    color: var(--color-text);
}

.info .footer .version {
    text-transform: lowercase;
    right: 8px;
    bottom: 4px;
    position: absolute;
    font-size: 60%;
    opacity: 0.5;
}

.info .inner {
    padding: 16px;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
}

.info .inner ul {
    list-style: cjk-heavenly-stem;
}

.info .inner ul li {
    margin-bottom: 4px;
}

.info .inner ul li.last {
    margin-bottom: 16px;
}

.info a.uploadButton {
    display: inline;
    color: var(--color-sc);
}