.__sctmext__task::before {
    cursor: pointer;
    display: inline-block;
    content: '☐';
    margin-right: 7px;
    transform: scale(1.9) translateY(-0.5px) translateX(1px);
    transition: color 50ms ease;
}

.__sctmext__task_done {
    text-decoration: line-through;
    opacity: 0.7;
}

.__sctmext__task_done:hover {
    opacity: 1;
}

.__sctmext__task_done::before {
    content: '☑';
}




