.__sctmext__item {
    --color-light: #50535a;
    --color-text: #eee;
    --color-dark: #282c34;
    --color-sc: #FF5500;
    --color-sc-dark-grey: #999;
    --opacity-fade: 0.6;
}

.__sctmext__item_focused {

}

.__sctmext__task {
    cursor: pointer;
}

.__sctmext__task::before {
    display: inline-block;
    content: '☐';
    margin-right: 7px;
    transform: scale(1.9) translateY(-0.5px) translateX(1px);
    transition: color 50ms ease;
}

.__sctmext__task_done {
    text-decoration: line-through;
    opacity: 0.7;
}

.__sctmext__task_done:hover {
    opacity: 1;
}

.__sctmext__task_done::before {
    content: '☑';
}

.__sctmext__task_focused {
    border: 2px dashed var(--color-sc);
}

.__sctmext__task__focusButton {
    border: none;
    text-decoration: underline;
    color: var(--color-sc-dark-grey);
}



