html {
  --color-light: #50535a;
  --color-text: #eee;
  --color-dark: #282c34;
  --opacity-fade: 0.6;
  background-color: var(--color-dark);
}

.info {
  min-width: 220px;
  padding: 16px;
  color: var(--color-text);
  font-size: 14px;
  text-align: center;
}

.info a {
  color: var(--color-text);
  text-decoration: none;
  border-bottom: 1px solid var(--color-text);
}
.info a:hover {
  border-bottom-color: transparent;
}